
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}
.card-img-top {
  object-fit: cover; /* Ensures the image covers the card area without distortion */
  width: 100%; /* Makes sure the image fills the width of the card */
  height: 200px; /* You can adjust this height to your preference */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hii{
  width: 19rem;
  max-height: 450px;
  display: inline;
}

.drp{
  margin: 20px;
  background: #aba2cf;
}

.drp1{
  padding: 30px;
}

.ddd{
  margin: 20px;
  padding: 20px;
}